html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", 'Helvetica', 'Arial', "苹方", "微软雅黑", 'sans-serif';
  font-size: 12px;
  color: #B2B2B2;
  background: #3F3F3F;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #B2B2B2;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
input,
textarea,
button {
  outline: none;
  border: none;
}
textarea {
  resize: none;
  overflow: auto;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-btn {
  width: 120px;
  height: 38px;
  line-height: 38px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #B2B2B2;
}
.confirm-btn {
  background: #F58123;
  color: #fff;
  border: 1px solid #F58123;
}
.cancel-btn {
  background: #343434;
  color: #fff;
}
.common-ipt {
  border: 1px solid #B2B2B2;
  border-radius: 4px;
  background: #343434;
  width: 320px;
  height: 38px;
  line-height: 38px;
  color: #B2B2B2;
  padding-left: 40px;
  cursor: pointer;
}
.common-ipt:read-only {
  color: #757575;
}
.left-project-msg {
  width: 60%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding-left: 100px;
}
.login-logo-icon {
  margin-top: 30px;
}
.errorMsg {
  line-height: 40px;
  text-align: center;
  color: #F58123;
  font-size: 12px;
}
.project-intro {
  width: 427px;
  margin: 20% auto;
}
.project-intro h1 {
  font-size: 36px;
  line-height: 80px;
  color: #fff;
}
.project-intro h2 {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 60px;
}
.jump-other-website {
  width: 50%;
  position: fixed;
  bottom: 60px;
}
.jump-other-website li {
  display: inline-block;
  width: 30%;
}
.right-project-login {
  float: left;
  width: 40%;
  height: 100%;
  overflow-y: auto;
  background: #343434;
}
.right-project-login h3 {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}
.login-form {
  width: 360px;
  margin: 30% auto;
}
.login-btn {
  width: 360px;
  margin-top: 40px;
}
.form-ipt-cover {
  margin-top: 14px;
}
.form-ipt-cover i {
  position: relative;
  top: 27px;
  left: 16px;
}
.form-ipt-cover p {
  font-size: 12px;
}
.apply-form {
  width: 370px;
  margin: 10% auto;
  height: 680px;
}
.userApply-icon {
  width: 230px;
  float: left;
}
.userApply-ipt {
  width: 187px;
}
.uploadIcon {
  width: 118px;
  height: 138px;
  float: right;
  font-size: 12px;
  background: #F58123;
  border-radius: 4px;
  margin-top: -36px;
  text-align: center;
  line-height: 118px;
  position: relative;
}
.uploadIcon img {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 40px;
}
.change-usr-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 118px;
  text-align: center;
  line-height: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.5);
  color: #f0f0f0;
  font-size: 12px;
}
#uploadFileForm {
  width: 118px;
  height: 24px;
  position: relative;
  top: -4px;
}
.selectUsrIcon {
  width: 118px;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 9;
}
