<div class="login-form" >
  <h3>登录</h3>
  <div class="form-ipt-cover">
      <p>用户名</p>
      <input type="text" style="display:none"/>
      <i class="fa fa-user fa-lg font-yellow"></i>
      <input type="text" class="common-ipt login-username"/>
  </div>
  <div class="form-ipt-cover">
      <p>密码</p>
      <input type="password"  style="display:none"/>
      <i class="fa fa-lock fa-lg font-yellow"></i>
      <input type="password" class="common-ipt login-password"/>
  </div>

  <button class="common-btn confirm-btn login-btn">登录</button>
  <p class="errorMsg"></p>
</div>
